body{
    font-family: 'Comic Sans MS';
}
.site-heading-lower{
    font-family: 'Comic Sans MS';
}
.mb-3{
    font-family: 'Comic Sans MS';
    color: burlywood !important;
}
.notburlywood{
    color: black !important; /*if we don't put '!important' here, this naturally will override the line above since files are right from top to bottom*/
}
.intro-text{
    box-shadow: 15px 5px 20px rgba(0, 0, 0, 0.5);
}